{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
<div class="container">
    <center>
        <h3>Log in or <a href="{% url 'accounts:register' %}" class="nav-link">Register</a></h3>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Username</label>
            {{form.username}}
            <label for="">Password</label>
            {{form.password}}
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
    </center>
</div>
    
<script>
    document.querySelector('#id_username').className='form-control mb-3 w-auto'
    document.querySelector('#id_password').className='form-control mb-3 w-auto'
</script>
{% endblock content %}
    