{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="row card-header">
                <div class="col-md-2">
                    {% if post.user.user_pro.avatar %}
                        <a href="{% url 'accounts:profile' post.user.user_pro.slug %}" class=""><img src="{{post.user.user_pro.avatar.url}}" class="avatar" alt=""></a>
                        {% else %}
                        <a href="{% url 'accounts:profile' post.user.user_pro.slug %}" class=""><img src="/static/assets/image/10.jfif" class="avatar" alt=""></a>
                    {% endif %}
                    <div class="bg-primary badge mt-2"><span class="zmdi zmdi-accounts"></span> followers: {{post.user.user_pro.follows.all.count}}</div>
                </div>
                <div class="col-md-5">
                    <h3 class="mt-2">{{post.user.user_pro.name|truncatechars:'15'}}</h3>
                    <p class="small mt-1 text-danger">{{post.user.user_pro.surname}}</p>
                </div>
                <div class="col-md-3">
                    <br>
                    <div class="btn-group">
                        <button class="btn btn-danger"><span class="zmdi zmdi-download"></span></button>
                        <button class="btn btn-primary"><span class="zmdi zmdi-link"></span></button>
                    </div>
                </div>
                <div class="col-md-2 mt-3 d-flex">
                    
                    {% if request.user.user_pro in post.like.all %}
                        <a href="{% url 'main:blike' post.slug %}" class="m-2"><h2><span class="zmdi zmdi-thumb-up text-primary"></span></h2></a>
                        {% else %}
                        <a href="{% url 'main:blike' post.slug %}" class="m-2"><h2><span class="zmdi zmdi-thumb-up text-light"></span></h2></a>
                    {% endif %}
                        
                    <a href="{% url 'main:home' %}" class="m-2"><h2><span class="zmdi zmdi-thumb-down text-danger"></span></h2></a>
                </div>
            </div>
        </div><br>
        <div id="desktop">
            <center><a href="{{post.image.url}}"><img src="{{post.image.url}}" height="500" alt=""></a></center>
        </div>
        <div id="mobile">
            <center><a href="{{post.image.url}}"><img src="{{post.image.url}}" class="w-100" alt=""></a></center>
        </div>
        <h1 class="mt-5">{{post.title}} | <span class="zmdi zmdi-favorite text-danger"> {{post.like.all.count}}</span></h1><hr>
        <div class="w-100"><p>{{post.body|safe}}</p></div><hr>
        Category:
            <a href="" class="{{post.category.color}} btn m-2 text-dark"><b>{{post.category.name}}</b></a>
            
    </div>
{% endblock content %}
 