{% extends 'wrapper.html' %}

{% block content %}
    
<div class="container">
    <h3>Update Post</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<script src="/static/assets/js/jquery-1.11.0.min.js"></script>
<script>
    $('input').addClass('form-control mt-2 mb-3')
    $('#id_category').addClass('form-control mt-2 mb-3')
    $('#avatar-clear_id').removeClass('form-control mt-2 mb-3')
    $('form a').html('<a class="btn btn-success">View avatar</a>')
</script>
{% endblock content %}
    